p{
        font-size: 13px;
        font-family: Arial;
        margin-top: 1px;
        margin-bottom: 6px;
        margin-left: 1%;
}

.date {
        font-style: italic;
        font-size: 8px;
}


h1{
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        color: blue;
        font-family: Arial;
}

h3{
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        margin: 1px;
        color: red;
        font-family: Arial;

}

